#camera{
        width:350px;
        height: 263px;
        border:1px solid black;
    }

    #canvas {
        background-color: #000;
        /*height: 600px;
        width: 800px;*/
        height: 263px;
        width: 350px;
    }
    #canvasArreglo1 {
        background-color: #000;
        /*height: 600px;
        width: 800px;*/
        height: 263px;
        width: 350px;
    }

    #canvasArreglo2 {
        background-color: #000;
        /*height: 600px;
        width: 800px;*/
        height: 263px;
        width: 350px;
    }

    #canvasArreglo3 {
        background-color: #000;
        /*height: 600px;
        width: 800px;*/
        height: 263px;
        width: 350px;
    }

    #canvasArreglo4 {
        background-color: #000;
        /*height: 600px;
        width: 800px;*/
        height: 263px;
        width: 350px;
    }

    .centrar{
        text-align: center;
    }

    .camarita{
        display: flex;
        justify-content: center;
    }

    .contieneCanvas{
        display: inline-grid;
        justify-content: center;
        text-align: center;
    }

    .miFotico{
        justify-items: center;
        padding-bottom: 2em;
    }

    .titulo{
        padding-top: 2em;
        font-weight: bolder;
    }

    .subtitulo{
        padding-top: 2em;
        font-weight: bold;
    }
    
    .ganale{
        text-transform: uppercase;
        padding-bottom: 1.5em;
    }
    .foticos{
        display: flex;
    }

    .botonPro{
        text-align: center;
        padding-top: 1.5em;
    }

    .grid-container {
  display: grid;
  grid-gap: 5px;
  background-color: #00b926;
  padding: 5px;
}

.grid-item {
  background-color: #00b926;
  text-align: center;
  padding: 5px;
  width:4em;
  height:4em;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
  background-color: #181c19e6;
}

.item2 {
  grid-column: 2;
  grid-row: 1;
}

.item3 {
  grid-column:  3;
  grid-row: 1;
  background-color: #181c19e6;
}

.item4 {
  grid-column:  4;
  grid-row: 1;
}

.item5 {
  grid-column:  5;
  grid-row: 1;
  background-color: #181c19e6;
}

.item6 {
  grid-column:  6;
  grid-row: 1;
 }
 
 .item7 {
  grid-column:  7;
  grid-row: 1;
  background-color: #181c19e6;
}

 .item8 {
  grid-column:  8;
  grid-row: 1;
 
}

.item9 {
  grid-column: 1;
  grid-row: 2;

}

.item10 {
  grid-column: 2;
  grid-row: 2;
    background-color: #181c19e6;
}

.item11 {
  grid-column:  3;
  grid-row: 2;

}

.item12 {
  grid-column:  4;
  grid-row: 2;
    background-color: #181c19e6;
}

.item13 {
  grid-column:  5;
  grid-row: 2;

}

.item14 {
  grid-column:  6;
  grid-row: 2;
    background-color: #181c19e6;
 }
 
 .item15 {
  grid-column:  7;
  grid-row: 2;
}

 .item16 {
  grid-column:  8;
  grid-row: 2;
    background-color: #181c19e6;
}

.item17 {
  grid-column: 1;
  grid-row: 3;
  background-color: #181c19e6;
}

.item18 {
  grid-column: 2;
  grid-row: 3;
}

.item19 {
  grid-column:  3;
  grid-row: 3;
  background-color: #181c19e6;
}

.item20 {
  grid-column:  4;
  grid-row: 3;
}

.item21 {
  grid-column:  5;
  grid-row: 3;
  background-color: #181c19e6;
}

.item22 {
  grid-column:  6;
  grid-row: 3;

 }
 
 .item23 {
  grid-column:  7;
  grid-row: 3;
  background-color: #181c19e6;
}

 .item24 {
  grid-column:  8;
  grid-row: 3;

}

.item25 {
  grid-column: 1;
  grid-row: 4;
}

.item26 {
  grid-column: 2;
  grid-row: 4;
    background-color: #181c19e6;
}

.item27 {
  grid-column:  3;
  grid-row: 4;
}

.item28 {
  grid-column:  4;
  grid-row: 4;
    background-color: #181c19e6;
}

.item29 {
  grid-column:  5;
  grid-row: 4;
}

.item30 {
  grid-column:  6;
  grid-row:4;
    background-color: #181c19e6;
 }
 
 .item31 {
  grid-column:  7;
  grid-row: 4;
}

 .item32 {
  grid-column:  8;
  grid-row: 4;
    background-color: #181c19e6;

}

.item33 {
  grid-column: 1;
  grid-row: 5;
  background-color: #181c19e6;
}

.item34 {
  grid-column:  2;
  grid-row: 5;

}

.item35 {
  grid-column:  3;
  grid-row: 5;
    background-color: #181c19e6;
}

.item36 {
  grid-column:  4;
  grid-row: 5;
}

.item37 {
  grid-column:  5;
  grid-row: 5;
    background-color: #181c19e6;

 }
 
 .item38 {
  grid-column:  6;
  grid-row: 5;
}

 .item39 {
  grid-column:  7;
  grid-row: 5;
    background-color: #181c19e6;

}

.item40 {
  grid-column: 8;
  grid-row: 5;
}

.item41 {
  grid-column: 1;
  grid-row: 6;
}

.item42 {
  grid-column:  2;
  grid-row: 6;
  background-color: #181c19e6;
}

.item43 {
  grid-column:  3;
  grid-row: 6;
}

.item44 {
  grid-column:  4;
  grid-row: 6;
  background-color: #181c19e6;
}

.item45 {
  grid-column:  5;
  grid-row:6;
 }
 
 .item46 {
  grid-column:  6;
  grid-row: 6;
  background-color: #181c19e6;
}

 .item47 {
  grid-column:  7;
  grid-row: 6;

}

.item48 {
  grid-column: 8;
  grid-row: 6;
  background-color: #181c19e6;
}

.item49 {
  grid-column:  1;
  grid-row: 7;
    background-color: #181c19e6;

}

.item50 {
  grid-column:  2;
  grid-row: 7;
}


.item51 {
  grid-column:  3;
  grid-row:7;
    background-color: #181c19e6;
}

.item52 {
  grid-column:  4;
  grid-row: 7;
 }
 
 .item53 {
  grid-column:  5;
  grid-row: 7;
    background-color: #181c19e6;
}

 .item54 {
  grid-column:  6;
  grid-row: 7;
}

.item55 {
  grid-column: 7;
  grid-row: 7;
    background-color: #181c19e6;
}

.item56 {
  grid-column: 8;
  grid-row: 7;
}

.item57 {
  grid-column:  1;
  grid-row: 8;
}

.item58 {
  grid-column:  2;
  grid-row: 8;
    background-color: #181c19e6;
}

.item59 {
  grid-column:  3;
  grid-row: 8;
}

.item60 {
  grid-column:  4;
  grid-row: 8;
  background-color: #181c19e6;
 }
 
 
.item61 {
  grid-column:  5;
  grid-row: 8;
}

 .item62 {
  grid-column:  6;
  grid-row: 8;
  background-color: #181c19e6;
}

.item63 {
  grid-column:  7;
  grid-row: 8;
}

 .item64 {
  grid-column:  8;
  grid-row: 8;
  background-color: #181c19e6;
}

.circulo{
    max-width: 100%;
    height: 100%;
    /*azul #312affcf*/ background-color:#fff0;
    /*rojo background-color:#ff2727cf;*/
    /*transparente background-color:#fff0;*/

    border-radius: 50%;
}


.confirmaTablero{
    display: flex;
    justify-content: center;
}

#tableroAprobado{
    text-align: center;
}

.pregunta, .juguemos, .volverFotos{
    display: flex;
    justify-content: center;
}


.grid-container-2 {
  display: grid;
  grid-gap: 5px;
  background-color: #00b926;
  padding: 5px;
}

.grid-item-2 {
  background-color: #00b926;
  text-align: center;
  padding: 5px;
  width:4em;
  height:4em;
}

.item1-2 {
  grid-column: 1;
  grid-row: 1;
  background-color: #181c19e6;
}

.item2-2 {
  grid-column: 2;
  grid-row: 1;
}

.item3-2 {
  grid-column:  3;
  grid-row: 1;
  background-color: #181c19e6;
}

.item4-2 {
  grid-column:  4;
  grid-row: 1;
}

.item5-2 {
  grid-column:  5;
  grid-row: 1;
  background-color: #181c19e6;
}

.item6-2 {
  grid-column:  6;
  grid-row: 1;
 }
 
 .item7-2 {
  grid-column:  7;
  grid-row: 1;
  background-color: #181c19e6;
}

 .item8-2 {
  grid-column:  8;
  grid-row: 1;
 
}

.item9-2 {
  grid-column: 1;
  grid-row: 2;

}

.item10-2 {
  grid-column: 2;
  grid-row: 2;
    background-color: #181c19e6;
}

.item11-2 {
  grid-column:  3;
  grid-row: 2;

}

.item12-2 {
  grid-column:  4;
  grid-row: 2;
    background-color: #181c19e6;
}

.item13-2 {
  grid-column:  5;
  grid-row: 2;

}

.item14-2 {
  grid-column:  6;
  grid-row: 2;
    background-color: #181c19e6;
 }
 
 .item15-2 {
  grid-column:  7;
  grid-row: 2;
}

 .item16-2 {
  grid-column:  8;
  grid-row: 2;
    background-color: #181c19e6;
}

.item17-2 {
  grid-column: 1;
  grid-row: 3;
  background-color: #181c19e6;
}

.item18-2 {
  grid-column: 2;
  grid-row: 3;
}

.item19-2 {
  grid-column:  3;
  grid-row: 3;
  background-color: #181c19e6;
}

.item20-2 {
  grid-column:  4;
  grid-row: 3;
}

.item21-2 {
  grid-column:  5;
  grid-row: 3;
  background-color: #181c19e6;
}

.item22-2 {
  grid-column:  6;
  grid-row: 3;

 }
 
 .item23-2 {
  grid-column:  7;
  grid-row: 3;
  background-color: #181c19e6;
}

 .item24-2 {
  grid-column:  8;
  grid-row: 3;

}

.item25-2 {
  grid-column: 1;
  grid-row: 4;
}

.item26-2 {
  grid-column: 2;
  grid-row: 4;
    background-color: #181c19e6;
}

.item27-2 {
  grid-column:  3;
  grid-row: 4;
}

.item28-2 {
  grid-column:  4;
  grid-row: 4;
    background-color: #181c19e6;
}

.item29-2 {
  grid-column:  5;
  grid-row: 4;
}

.item30-2 {
  grid-column:  6;
  grid-row:4;
    background-color: #181c19e6;
 }
 
 .item31-2 {
  grid-column:  7;
  grid-row: 4;
}

 .item32-2 {
  grid-column:  8;
  grid-row: 4;
    background-color: #181c19e6;

}

.item33-2 {
  grid-column: 1;
  grid-row: 5;
  background-color: #181c19e6;
}

.item34-2 {
  grid-column:  2;
  grid-row: 5;

}

.item35-2 {
  grid-column:  3;
  grid-row: 5;
    background-color: #181c19e6;
}

.item36-2 {
  grid-column:  4;
  grid-row: 5;
}

.item37-2 {
  grid-column:  5;
  grid-row: 5;
    background-color: #181c19e6;

 }
 
 .item38-2 {
  grid-column:  6;
  grid-row: 5;
}

 .item39-2 {
  grid-column:  7;
  grid-row: 5;
    background-color: #181c19e6;

}

.item40-2 {
  grid-column: 8;
  grid-row: 5;
}

.item41-2 {
  grid-column: 1;
  grid-row: 6;
}

.item42-2 {
  grid-column:  2;
  grid-row: 6;
  background-color: #181c19e6;
}

.item43-2 {
  grid-column:  3;
  grid-row: 6;
}

.item44-2 {
  grid-column:  4;
  grid-row: 6;
  background-color: #181c19e6;
}

.item45-2 {
  grid-column:  5;
  grid-row:6;
 }
 
 .item46-2 {
  grid-column:  6;
  grid-row: 6;
  background-color: #181c19e6;
}

 .item47-2 {
  grid-column:  7;
  grid-row: 6;

}

.item48-2 {
  grid-column: 8;
  grid-row: 6;
  background-color: #181c19e6;
}

.item49-2 {
  grid-column:  1;
  grid-row: 7;
    background-color: #181c19e6;

}

.item50-2 {
  grid-column:  2;
  grid-row: 7;
}


.item51-2 {
  grid-column:  3;
  grid-row:7;
    background-color: #181c19e6;
}

.item52-2 {
  grid-column:  4;
  grid-row: 7;
 }
 
 .item53-2 {
  grid-column:  5;
  grid-row: 7;
    background-color: #181c19e6;
}

 .item54-2 {
  grid-column:  6;
  grid-row: 7;
}

.item55-2 {
  grid-column: 7;
  grid-row: 7;
    background-color: #181c19e6;
}

.item56-2 {
  grid-column: 8;
  grid-row: 7;
}

.item57-2 {
  grid-column:  1;
  grid-row: 8;
}

.item58-2 {
  grid-column:  2;
  grid-row: 8;
    background-color: #181c19e6;
}

.item59-2 {
  grid-column:  3;
  grid-row: 8;
}

.item60-2 {
  grid-column:  4;
  grid-row: 8;
  background-color: #181c19e6;
 }
 
 
.item61-2 {
  grid-column:  5;
  grid-row: 8;
}

 .item62-2 {
  grid-column:  6;
  grid-row: 8;
  background-color: #181c19e6;
}

.item63-2 {
  grid-column:  7;
  grid-row: 8;
}

 .item64-2 {
  grid-column:  8;
  grid-row: 8;
  background-color: #181c19e6;
}

.circulo-2{
    max-width: 100%;
    height: 100%;
    /*azul #312affcf*/ background-color:#fff0;
    /*rojo background-color:#ff2727cf;*/
    /*transparente background-color:#fff0;*/

    border-radius: 50%;
}

.jugada{
    padding-top: 2.5em;
    display: flex;
    justify-content: center;
}

.teToca{
    padding-top: 2.5em;
    display: flex;
    justify-content: center;
}

.repetir{
    font-weight: bolder;
}


.repite{
    display: flex;
    justify-content: center;
}